site_name: EmbGen
site_description: EmbGen - Code generator used for embedded systems development
site_author: Cedric Hirschi
site_url: https://CedricHirschi.github.io/embgen/
repo_name: embgen
repo_url: https://github.com/CedricHirschi/embgen

nav:
  - Home: index.md
  - Usage:
      - CLI Reference: usage/cli.md
      - Python API: usage/python-api.md
      - Full Python API Reference: usage/full-api.md
  - Built-in Domains:
      - Overview: domains/index.md
      - Commands: domains/commands.md
      - Registers: domains/registers.md
  - Extending embgen:
      - Overview: extending/index.md
      - Writing Models: extending/models.md
      - Writing Generators: extending/generators.md
      - Writing Templates: extending/templates.md
      - Multifile Templates: extending/multifile.md
  - Architecture: architecture.md

copyright: Copyright &copy; 2025 <a href="mailto:cedr02@live.com">Cedric Hirschi</a>

theme:
  name: material

  font:
    text: Roboto Flex
    code: Roboto Mono

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: black
      accent: amber
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to auto mode
      primary: black
      accent: amber

  icon:
    # logo: material/black-mesa
    repo: fontawesome/brands/github

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.prune
    - toc.follow
    # - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.tooltips

plugins:
  - search
  - social
  - mkdocstrings:
      handlers:
        python:
          docstring_style: google   # or numpy / sphinx
          options:
            show_root_heading: false
            show_root_toc_entry: false
            heading_level: 3
          selection:
            members: true

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.blocks.caption
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

# Include static files by adding them to nav or using hooks
hooks:
  - docs/hooks.py
