{% set package_name = output_filename|regex_replace('[^0-9A-Za-z_]', '_')|lower %}
{% set methods_with_returns = methods | selectattr("returns") | list %}
{% set ns = namespace(lines=[]) %}
{{- ns.lines.append('syntax = "proto3";') or '' -}}
{{- ns.lines.append('') or '' -}}
{{- ns.lines.append('package ' ~ package_name ~ ';') or '' -}}
{{- ns.lines.append('') or '' -}}
{% for method in methods %}
{{- ns.lines.append('// ' ~ method.description) or '' if method.description else '' -}}
{% for arg in method.args if arg.enums %}
{{- ns.lines.append('enum ' ~ arg.type_proto ~ ' {') or '' -}}
{% for enum in arg.enums | sort(attribute='value') %}
{{- ns.lines.append('  ' ~ enum.name ~ ' = ' ~ enum.value ~ ';' ~ (' // ' ~ enum.description if enum.description else '')) or '' -}}
{% endfor %}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% endfor %}
{{- ns.lines.append('message ' ~ method.name_python ~ '_args {') or '' -}}
{% for arg in method.args %}
{{- ns.lines.append('  ' ~ arg.type_proto ~ ' ' ~ arg.name_python ~ ' = ' ~ loop.index ~ ';' ~ (' // ' ~ arg.description if arg.description else '')) or '' -}}
{% endfor %}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% if method.returns %}
{% for ret in method.returns if ret.enums %}
{{- ns.lines.append('enum ' ~ ret.type_proto ~ ' {') or '' -}}
{% for enum in ret.enums | sort(attribute='value') %}
{{- ns.lines.append('  ' ~ enum.name ~ ' = ' ~ enum.value ~ ';' ~ (' // ' ~ enum.description if enum.description else '')) or '' -}}
{% endfor %}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% endfor %}
{{- ns.lines.append('message ' ~ method.name_python ~ '_result {') or '' -}}
{% for ret in method.returns %}
{{- ns.lines.append('  ' ~ ret.type_proto ~ ' ' ~ ret.name_python ~ ' = ' ~ loop.index ~ ';' ~ (' // ' ~ ret.description if ret.description else '')) or '' -}}
{% endfor %}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% endif %}
{% endfor %}
{{- ns.lines.append('message cmd {') or '' -}}
{{- ns.lines.append('  oneof args {') or '' -}}
{% for method in methods %}
{{- ns.lines.append('    ' ~ method.name_python ~ '_args ' ~ method.name_python ~ ' = ' ~ loop.index ~ ';') or '' -}}
{% endfor %}
{{- ns.lines.append('  }') or '' -}}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{{- ns.lines.append('message request {') or '' -}}
{{- ns.lines.append('  repeated cmd cmd = 1; // Commands to execute') or '' -}}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{{- ns.lines.append('enum status {') or '' -}}
{{- ns.lines.append('  OK = 0; // Command executed successfully') or '' -}}
{{- ns.lines.append('  INVALID_ARGUMENT = 1; // Invalid argument provided to the command') or '' -}}
{{- ns.lines.append('  INVALID_STATE = 2; // Command cannot be executed in the current state') or '' -}}
{{- ns.lines.append('  TIMEOUT = 3; // Command execution timed out') or '' -}}
{{- ns.lines.append('  UNKNOWN_ERROR = 4; // An unknown error occurred during command execution') or '' -}}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% if methods_with_returns %}
{{- ns.lines.append('message response_data {') or '' -}}
{{- ns.lines.append('  oneof payload {') or '' -}}
{% for method in methods_with_returns %}
{{- ns.lines.append('    ' ~ method.name_python ~ '_result ' ~ method.name_python ~ ' = ' ~ loop.index ~ ';') or '' -}}
{% endfor %}
{{- ns.lines.append('  }') or '' -}}
{{- ns.lines.append('}') or '' -}}
{{- ns.lines.append('') or '' -}}
{% endif %}
{{- ns.lines.append('message response {') or '' -}}
{{- ns.lines.append('  repeated status status = 1; // Status codes for each command in the request') or '' -}}
{% if methods_with_returns %}
{{- ns.lines.append('  repeated response_data data = 2; // Return payloads for commands that produce results') or '' -}}
{% endif %}
{{- ns.lines.append('}') or '' -}}
{{ ns.lines | join('\n') }}
